USE [master]
GO
/****** Object:  Database [ScriptInstall]    Script Date: 08/10/2016 12:52:43 ******/
CREATE DATABASE [ScriptInstall]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ScriptInstall', FILENAME = N'C:\MSSQL\Data\ScriptInstall.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ScriptInstall_log', FILENAME = N'C:\MSSQL\Logs\ScriptInstall_log.ldf' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScriptInstall].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScriptInstall]
GO
USE [ScriptInstall]
GO
/****** Object:  Table [dbo].[InstanceList]    Script Date: 08/10/2016 12:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceList](
	[InstanceID] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [nvarchar](50) NOT NULL,
	[InstanceName] [nvarchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[Inactive] [bit] NULL,
	[Environment] [nvarchar](25) NULL,
	[Location] [nvarchar](30) NULL,
	[NotContactable] [bit] NULL,
 CONSTRAINT [PK_InstanceList_ID] PRIMARY KEY CLUSTERED 
(
	[InstanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InstanceScriptLookup]    Script Date: 08/10/2016 12:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceScriptLookup](
	[ISLID] [int] IDENTITY(1,1) NOT NULL,
	[InstanceID] [int] NOT NULL,
	[ScriptID] [int] NOT NULL,
	[NeedsUpdate] [bit] NOT NULL,
 CONSTRAINT [PK_InstanceScriptLookup] PRIMARY KEY CLUSTERED 
(
	[ISLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScriptList]    Script Date: 08/10/2016 12:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptList](
	[ScriptID] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](50) NOT NULL,
	[ScriptDecription] [nvarchar](256) NOT NULL,
	[ScriptLocation] [nvarchar](256) NULL,
 CONSTRAINT [PK_ScriptList] PRIMARY KEY CLUSTERED 
(
	[ScriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[InstanceList] ADD  CONSTRAINT [DF_InstanceList_Inactive]  DEFAULT ((0)) FOR [Inactive]
GO
ALTER TABLE [dbo].[InstanceList] ADD  CONSTRAINT [DF_InstanceList_NotContactable]  DEFAULT ((0)) FOR [NotContactable]
GO
ALTER TABLE [dbo].[InstanceScriptLookup]  WITH CHECK ADD  CONSTRAINT [FK_InstanceScriptLookup_InstanceList] FOREIGN KEY([InstanceID])
REFERENCES [dbo].[InstanceList] ([InstanceID])
GO
ALTER TABLE [dbo].[InstanceScriptLookup] CHECK CONSTRAINT [FK_InstanceScriptLookup_InstanceList]
GO
ALTER TABLE [dbo].[InstanceScriptLookup]  WITH CHECK ADD  CONSTRAINT [FK_InstanceScriptLookup_ScriptList] FOREIGN KEY([ScriptID])
REFERENCES [dbo].[ScriptList] ([ScriptID])
GO
ALTER TABLE [dbo].[InstanceScriptLookup] CHECK CONSTRAINT [FK_InstanceScriptLookup_ScriptList]
GO
USE [master]
GO
